:root {
    --main-blue: #6610f2;
    --card-icon-bg :#ebeafc;
    --light: #c3cef8;
    --dark : rgb(33, 37, 41);
    --white: #ffffff;
    --blue: #5BC0F8;
    --light-blue: #86E5FF;
    --bg-light-yellow: #faf9c3;
    --bg-important-tag: #f8d7da;
    --border-important: #f5c2c7;
    --color-important: #842029;
    --color-warning: #664d03;
    --border-warning: #ffecb5;
    --bg-importnant-tag: #fffcad;
    --bg-not-important: #e2e3e5;
    --color-not-important: #41464b;
    --border-not-important: #d3d6d8;
    --bg-note: #fcfbf5;
    --color-secondary-text: #6c757d;
    --color-success: #0f5132;
    --border-success: #badbcc;
    --bg-sucsses: #d1e7dd;
}
pre{
    font-family: YekanBakh;
}
.danger {
    background: var(--bg-important-tag);
    border: 1px solid var(--border-important);
    color: var(--color-important);
}

.warning {
    background: var(--bg-light-yellow);
    border: 1px solid var(--border-warning);
    color: var(--color-warning);
}

.not-important {
    background: var(--bg-not-important);
    border: 1px solid var(--border-not-important);
    color: var(--color-not-important);
}

.success {
    background: var(--bg-sucsses);
    border: 1px solid var(--border-success);
    color: var(--color-success);
}

.bg-main-blue {
    background: var(--main-blue);
    /*backdrop-filter: blur(5px) contrast(.8);*/
}

/*font sizes-------------------------------------------------*/
.font-item-title {
    font-size: 13px;
}

.font-subtitle {
    font-size: 11px;
}


/*end font sizes-------------------------------------------------*/

a {
    text-decoration: none;
}

html body {
    font-family: 'YekanBakh', sans-serif;
    background: #f7f9fb;
}

.my-shadow {
    box-shadow: 0 0.75rem 1.5rem rgb(18 38 63 / 3%);
}

.dir-ltr {
    direction: ltr;
}


/*nav styles -----------------------------------------------------------------------------------------------------*/

.navbar-brand {
    font-weight: 700;
    font-size: 17px;
    margin-top: 5px;
}

/*nav styles -----------------------------------------------------------------------------------------------------*/

/*side bar styles-------------------------------------------------------------------------------------------------*/
.panel-menu-icon {
    width: 45px;
    height: 45px;
    color: #03001C;
    text-align: center;
    z-index: 1400;
    box-shadow: 0 0.75rem 1.5rem rgb(18 38 63 / 3%);
    line-height: 50px;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s linear;
}

@media (max-width: 992px) {
    .panel-menu-icon {
        width: 40px;
        height: 40px;
        text-align: center;
        font-size: 20px;
        line-height: 41px;
    }
}

.panel-navigation-menu {
    position: fixed;
    height: 100vh;
    background: var(--white);
    box-shadow: 0 0.4rem .3rem #d1d2d4;
    overflow-y: scroll;
    padding-top: 4%;
    top: 0;
    bottom: 0;
    right: -100%;
    display: flex;
    transition: 0.4s;
    justify-content: flex-start;
    z-index: 1021;
    direction: rtl;

}

@media (min-width: 991px) {
    .panel-navigation-menu {
        position: sticky;
        right: 0;
    }

    .panel-w-0 {
        width: 0;
    }

}


.panel-navigation-menu::-webkit-scrollbar-track {
    border-radius: 4px;
    /*background-color: var(--content-background)*/
}

.panel-navigation-menu::-webkit-scrollbar {
    width: 5px;
    /*background-color: var(--content-background);*/

}

.panel-navigation-menu::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #dddddd;
}


.panel-navigation-menu.active {
    right: 0;
}

.panel-fixed-top- {
    position: fixed;
    right: 2%;
    top: 2%;

}

.panel-desk-item span.desk-name {
    font-size: 13px;
}

.panel-desk-item i {
    color: transparent;
}

.panel-desk-active i {
    color: #2c393f;
}

.panel-side-bar {
    overflow-y: scroll;
}

.panel-side-bar::-webkit-scrollbar-track {
    border-radius: 6px;
    /*background-color: var(--content-background);*/
}

.panel-side-bar::-webkit-scrollbar {
    width: 5px;
    /*background-color: var(--content-background); */

}

.panel-side-bar::-webkit-scrollbar-thumb {
    border-radius: 4px;
    /*background-color: var(--background-light);*/
}

.panel-nav-item-parent {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.panel-menu-items-parent {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.panel-side-bar-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 45px;
    width: 96%;
    /*box-shadow: 0 0 .1rem rgba(0, 0, 0, .2) !important;*/
    font-size: 16px;
}

.panel-side-bar-item:hover {
    background: #f1f1f1;
    /*box-shadow: 0 0 .2rem rgba(0, 0, 0, .3) !important;*/
}

.panel-side-bar-item.active {
    background: var(--white);
    position: relative;
    /*transform: translateX(-.5rem);*/
    box-shadow: 0 0 .2rem rgba(0, 0, 0, .3) !important;
}
.panel-side-bar-item.active i {
    color: var(--main-blue) !important;
}
.panel-side-bar-item.active span{
    color: var(--dark) !important;
    font-weight: 500;
}

.panel-service-section {
    display: flex;
    padding: 1rem 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
    width: 100%;

}

.panel-service {
    flex: 0 0 auto;
    height: 106px;
    border-radius: 5px;
    width: 106px;
    box-shadow: 0 0 .2rem rgba(0, 0, 0, .2) !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    font-size: 12px;
    transition: .3s;
}

.panel-service:hover {

    box-shadow: 0 .2rem .5rem rgba(0, 0, 0, .2) !important;
}

.panel-service-icon {
    width: 20%;
}

.panel-switch-holder {
    position: relative;
    left: 5px;
    display: flex;
    padding: 3px 3px;
    align-items: center;
}

.panel-switch-toggle {
    height: 30px;
}

.panel-switch-toggle input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    z-index: -2;
}

.panel-switch-toggle input[type="checkbox"] + label {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 30px;
    border-radius: 20px;
    cursor: pointer;
}

.panel-switch-toggle input[type="checkbox"] + label::before {
    position: absolute;
    content: "روشن";
    font-size: 11px;
    text-align: center;
    line-height: 25px;
    top: 3px;
    left: 2px;
    width: 40px;
    height: 25px;
    border-radius: 20px;
    background-color: #eeeeee;
    transition: 0.3s ease-in-out;
}

.panel-switch-toggle input[type="checkbox"]:checked + label::before {
    left: 39%;
    content: "دارک";
    color: #ffffff;
    background-color: #343a40;
}

.panel-switch-holder-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: #b5b4b4;
    opacity: 25%;
    z-index: -1;
}

@media (max-width: 576px) {
    .panel-switch-holder {
        transform: scale(.8);
    }
}

/*end sidebar styles-------------------------------------------------*/
/*content styles ---------------------------------------------------------------------------------------*/
.panel-w-right-content {
    flex: 0 0 auto;
    width: 100%;
}

.panel-w-left-content {
    flex: 0 0 auto;
    width: 100%;
}

@media (max-width: 991px) {
    .panel-w-sidebar-sm {
        flex: 0 0 auto;
        width: 280px;
    }

    .panel-pt-sm-sidebar {
        padding-top: 7%;
    }

}

.panel-w-content {
    width: 100%;
}


@media (min-width: 576px) {
    .panel-w-right-content {
        flex: 0 0 auto;
        width: 100%;
    }

    .panel-w-sidebar {
        flex: 0 0 auto;
        width: 280px;
    }

    .panel-w-content {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .panel-w-right-content {
        flex: 0 0 auto;
        width: 100%;
    }

    .panel-w-sidebar {
        flex: 0 0 auto;
        width: 250px;
    }

    .panel-w-content {
        width: 100%;
    }
}

@media (min-width: 991px) {
    .panel-w-right-content {
        flex: 0 0 auto;
        width:100%;
    }

    .panel-w-sidebar {
        flex: 0 0 auto;
        width: 250px;
    }

    .panel-w-content {
        width: calc(100% - 250px);
    }
}

@media (min-width: 1200px) {
    .panel-w-right-content {
        flex: 0 0 auto;
        width: 100%;
    }


    .panel-w-sidebar {
        flex: 0 0 auto;
        width: 270px;
    }

    .panel-w-content {
        width: calc(100% - 270px);
    }
}

.panel-content {
    display: flex;
    flex-direction: column;
    transition: .6s;
    margin-top: 60px;
    gap: 1rem;
}

.panel-content-disable-sidebar {
    width: 100%;
}

.panel-content-sec-one {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.panel-content-sec-one-right {
    display: flex;
    flex-direction: column;
}

.panel-content-sec-one-left {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .panel-sticky-content {
        position: sticky;
        top: 10%;
    }
}

.panel-content-sec-two {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.panel-content-sec-two-right {
    display: flex;
    flex-direction: column;
}

.panel-content-sec-two-left {
    display: flex;
    flex-direction: column;
}
.panel-statistic-card-section{
    background: var(--white);
    box-shadow: 0 .1rem .4rem rgba(0, 0, 0, .1) !important;
    border-radius: 5px;
    padding: 20px;
}
.panel-statistic-card{
    display: flex;
    padding-right: 10px;
    flex-direction: column;
    gap: 10px;

}
.panel-statistic-card-danger{
    border-right: var(--border-important) 5px solid;
}
.panel-statistic-card-main{
    border-right: var(--main-blue) 5px solid;
}
.panel-statistic-card-warning{
    border-right: var(--border-warning) 5px solid;
}
.panel-table-card{
    box-shadow: 0 .1rem .4rem rgba(0, 0, 0, .1) !important;
    background: var(--white);
    border-radius: 7px;
}
.panel-card-icon{
    background: var(--card-icon-bg);
    color: var(--main-blue);
}
/*end content styles ---------------------------------------------------------------------------------------*/

.panel-title-parent {
    overflow: hidden;
    position: relative;
}

.panel-main-title- {
    padding-left: 5px;
    padding-right: 3px;
    padding-top: 5px;
    margin-right: 3px;
    opacity: 100%;
}

.panel-main-title-::after {
    content: "";
    position: absolute;
    opacity: 50%;
    width: 100%;
    height: 16px;
    border-bottom: var(--main-blue) 1px solid;
    margin-right: 10px;
    margin-left: 10px;
    transition: .3s;

}

.panel-main-title-:hover:after {
    opacity: .5;
}



.panel-main-title {
    font-size: 15px;
}

@media (min-width: 768px) {
    .panel-main-title {
        font-size: 18px;
    }
}

.file-input__input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.file-input__label {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    font-size: 14px;
    padding: 10px 12px;
    background-color: #4245a8;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
}

.file-input__label svg {
    height: 16px;
    margin-right: 4px;
}

.panel-writer-img{
    width: 100px;
}
.panel-search-bar{
    /*background-color: var(--white);*/
    width: 100%;
    display: flex;
    flex-direction: row;
}
.chat-item{
    max-width: calc(100% - 50px);
    min-width: 150px;
}

.chat-text-input-section{
    position: fixed;
    padding-top: 5px;
    bottom: 0;
    width: 100%;
    min-height: 70px;
    background-color: var(--white);
}
.chat-text-input{
    width: 70%;
}

.rotate-180{
    transform: rotate(180deg);
}
@media (min-width: 768px) {
    .chat-item{
        max-width: 50%;
    }
    .chat-text-input{
        width: 75%;
    }
}


.pricing {
    background-color: var(--white);
    transition: .7s ease-out;
    box-shadow: 0 .1rem .5rem rgba(0, 0, 0, .15) !important
}

.pricing:hover, .pricing:active {
    transform: translateY(-20px);
    transition: .7s ease-out;
    box-shadow: 0 .1rem 2rem rgba(0, 0, 0, .15) !important
}

.tox-notifications-container{
    display: none;
}

.max-height-400px{
    height : 400px
}